[nbButton] {
  margin-right: 0.35rem;
  margin-bottom: 1rem;
}


/* Classes */
.col-codigo-classe {
  width: 35px;
  text-align: center;
}

.col-codigo-classe-header {
  width: 35px;
}

.col-nome-classe {
  width: 120px;
  text-align: left;
}

.col-nome-classe-header {
  width: 120px;
}

.col-ativo-classe {
  width: 50px;
  text-align: center;
}

.col-ativo-classe-header {
  width: 50px;
  text-align: center;
}

.col-igreja-classe {
  width: 180px;
  text-align: center;
}

.col-igreja-classe-header {
  width: 180px;
  text-align: center;
}

.col-acoes-classe {
  width: 80px;
  text-align: center;
}

.col-acoes-classe-header {
  width: 80px;
  text-align: center;
}

/**/
