<div class="row">
    <div class="col-lg-12" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant" >
        <form autocomplete="off" (ngSubmit)="salvar(f)" #f="ngForm" >
          <nb-card>
              <nb-card-header><h4>{{ editando ? 'Edição de' : '' }} Novo Convertido</h4></nb-card-header>
              <nb-card-body >
                  <div class="row show-grid">
                    <div class="col-md-6">
                      <label for="igreja" class="label">Igreja</label>
                      <div>
                        <nb-select fullWidth name="igreja" placeholder="Selecione" [selected]="discipulando.igreja.codigo" [(ngModel)]="discipulando.igreja.codigo" (selectedChange)="atualizarLocalConversaoEventoConversao()" >
                          <nb-option *ngFor="let ig of igrejas" [value]="ig.value"> {{ ig.name }}</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <label for="nome" class="label">Nome *</label>
                        <input type="text" nbInput fullWidth name="nome" [(ngModel)]="discipulando.nome" ngModel #nome="ngModel" required minlength="10">
                        <app-message [control]="nome" error="required" text="Informe o nome" ></app-message>
                        <app-message [control]="nome" error="minlength" text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres." ></app-message>
                      </div>
                  </div>

                  <div class="row show-grid">
                    <div class="col-md-6">
                      <label for="dataNascimento" class="label">Data Nascimento *</label>
                      <input nbInput placeholder="Data Inicial" fullWidth [nbDatepicker]="dataNascimento" name="dataNascimento" ngModel #datanascimento="ngModel" [(ngModel)]="discipulando.dataNascimento" required>
                      <nb-datepicker  #dataNascimento></nb-datepicker>
                      <app-message [control]="datanascimento" error="required" text="Informe a data de nascimento" ></app-message>
                    </div>
                    <div class="col-md-6">
                        <label for="sexo" class="label">Sexo</label>
                        <nb-radio-group class="validation-radios" name="sexo" [(value)]="discipulando.sexo">
                          <nb-radio value="H">Homem</nb-radio>
                          <nb-radio value="M">Mulher</nb-radio>
                        </nb-radio-group>
                    </div>
                  </div>

                  <div class="row show-grid">
                    <div class="col-md-6">
                      <label for="estadoCivil" class="label">Estado Civíl</label>
                      <nb-select fullWidth placeholder="Selecione" name="estadoCivil" [selected]="discipulando.estadoCivil" [(ngModel)]="discipulando.estadoCivil" >
                        <nb-option  *ngFor="let estCivil of estadosCivis" [value]="estCivil.value"> {{ estCivil.name }}</nb-option>
                      </nb-select>
                    </div>
                    <div class="col-md-6">
                      <label for="conjugeEvangelico" class="label">Conjuge Evangélico?</label>
                      <nb-radio-group class="validation-radios" name="conjugeEvangelico" [(value)]="discipulando.conjugeEvangelico">
                        <nb-radio value="S">Sim</nb-radio>
                        <nb-radio value="N">Não</nb-radio>
                      </nb-radio-group>
                    </div>
                  </div>
                  <div class="row show-grid">
                    <div class="col-md-12">
                      <label for="nomeConjuge" class="label">Nome do Conjuge</label>
                      <input type="text" nbInput fullWidth name="nomeConjuge" [(ngModel)]="discipulando.nomeConjuge" >
                    </div>
                  </div>
                  <div class="row show-grid">
                    <div class="col-md-6">
                      <label for="escolaridade" class="label">Escolaridade</label>
                      <nb-select fullWidth placeholder="Selecione" name="escolaridade" [selected]="discipulando.escolaridade.codigo" [(ngModel)]="discipulando.escolaridade.codigo" >
                        <nb-option  *ngFor="let escolaridade of escolaridades" [value]="escolaridade.value"> {{ escolaridade.name }}</nb-option>
                      </nb-select>
                    </div>
                    <div class="col-md-6">
                      <label for="profissao" class="label">Profissão</label>
                      <nb-select fullWidth placeholder="Selecione" name="profissao" [selected]="discipulando.profissao.codigo" [(ngModel)]="discipulando.profissao.codigo" >
                        <nb-option  *ngFor="let profissao of profissoes" [value]="profissao.value"> {{ profissao.name }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
              </nb-card-body>
          </nb-card>

          <nb-card>
              <nb-card-header><h6>Endereço</h6></nb-card-header>
              <nb-card-body>
                <div class="row show-grid">
                    <div class="col-md-6">
                      <label for="nome" class="label">Logradouro</label>
                      <input type="text" nbInput fullWidth name="logradouro" [(ngModel)]="discipulando.endereco.logradouro" >
                    </div>
                    <div class="col-md-6">
                          <label for="sigla" class="label">Número</label>
                          <input type="text" nbInput fullWidth name="numero" [(ngModel)]="discipulando.endereco.numero" >
                    </div>
                </div>

                <div class="row show-grid">
                    <div class="col-md-12">
                        <label for="nome" class="label">Complemento</label>
                        <input type="text" nbInput fullWidth name="complemento" [(ngModel)]="discipulando.endereco.complemento" >
                    </div>
                </div>

                <div class="row show-grid">
                    <div class="col-md-6">
                      <label for="sigla" class="label">CEP</label>
                      <input type="text" nbInput fullWidth name="cep" [(ngModel)]="discipulando.endereco.cep" >
                    </div>
                    <div class="col-md-6">
                      <label for="nome" class="label">Bairro</label>
                      <input type="text" nbInput fullWidth name="bairro" [(ngModel)]="discipulando.endereco.bairro" >
                    </div>
                </div>

                <div class="row show-grid">
                    <div class="col-md-6">
                        <label for="estado" class="label">Estado *</label>
                        <nb-select fullWidth name="estado" [(selected)]="discipulando.endereco.cidade.estado.codigo" placeholder="Selecione" (selectedChange)="listarCidadesPorEstado()"
                        [(ngModel)]="discipulando.endereco.cidade.estado.codigo" #estado="ngModel" ngModel required>
                          <nb-option  *ngFor="let estado of estados" [value]="estado.value"> {{ estado.name }}</nb-option>
                        </nb-select>
                        <app-message [control]="estado" error="required" text="Selecione um Estado." ></app-message>
                    </div>

                    <div class="col-md-6">
                      <label for="cidade" class="label">Cidade *</label>
                      <nb-select fullWidth name="cidade" [(selected)]="discipulando.endereco.cidade.codigo" placeholder="Selecione"
                      [(ngModel)]="discipulando.endereco.cidade.codigo" [disabled]="!discipulando.endereco.cidade.estado.codigo" #cidade="ngModel" ngModel required>
                        <nb-option  *ngFor="let cidade of cidades" [value]="cidade.value"> {{ cidade.name }}</nb-option>
                      </nb-select>
                      <app-message [control]="cidade" error="required" text="Selecione uma Cidade." ></app-message>
                  </div>
                </div>

              </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header><h6>Contato</h6></nb-card-header>
            <nb-card-body>
              <div class="col-md-12">
                <form #frmTelefoneTabela="ngForm">
                    <p-table [value]="discipulando.telefones" [responsive]="true">
                      <ng-template pTemplate="header" >
                        <tr>
                          <th class="col-telefone-prefixo-header">Prefixo</th>
                          <th class="col-telefone-numero-header">Número</th>
                          <th class="col-acoes"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-telefone let-rowIndex="rowIndex" >
                        <tr>
                          <td class="col-telefone-prefixo">{{ telefone.prefixo }}</td>
                          <td class="col-telefone-numero">{{ telefone.numero }}</td>
                          <td class="col-acoes">
                            <button nbButton icon="fa fa-pencil" size="tiny" type="button" pTooltip="Editar" pTooltipPosition="top" (click)="prepararEdicaoTelefone(telefone, rowIndex)" ><nb-icon icon="edit-outline"></nb-icon></button>
                            <button nbButton type="button" size="tiny" pTooltip="Excluir" pTooltipPosition="top" (click)="removerTelefone(rowIndex)" ><nb-icon icon="trash-outline"></nb-icon></button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptyMessage">
                        <tr>
                          <td colspan="4">
                            Nenhum telefone cadastrado.
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </form>
              </div>
              <div class="row show-grid">
                <form #frmTelefoneCadastro="ngForm">
                  <div class="col-md-12 col-6">
                    <label for="prefixo" class="label">Telefone: </label>
                    <input type="text" nbInput mask="(99)" placeholder="(99)" size="2" required name="prefixo" [(ngModel)]="telefone.prefixo" >
                    <input nbInput mask="99999-999?9" placeholder="99999-9999" required name="numero" [(ngModel)]="telefone.numero" >
                    <button *ngIf="!telefoneEditando" class="botaocontato" nbButton (click)="adicionarTelefone(frmTelefoneCadastro)"
                            type="button" status="primary" size="tiny" [disabled]="frmTelefoneCadastro.invalid">Adicionar <nb-icon icon="plus-outline"></nb-icon></button>
                    <button *ngIf="telefoneEditando" class="botaocontato" nbButton (click)="atualizarTelefone(frmTelefoneCadastro)"
                          type="button" status="primary" size="tiny" [disabled]="frmTelefoneCadastro.invalid">Atualizar <nb-icon icon="refresh-outline"></nb-icon></button>
                  </div>
              </form>
              </div>
              <div class="row show-grid">
                <div class="col-md-12">
                  <label for="email" class="label">E-mail</label>
                  <input type="email" nbInput fullWidth name="email" [(ngModel)]="discipulando.email" >
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header><h6>Conversão</h6></nb-card-header>
            <nb-card-body>
              <div class="row show-grid">
                <div class="col-md-6">
                  <label for="dataConversao" class="label">Data de Conversão *</label>
                  <input nbInput placeholder="Data Inicial" fullWidth [nbDatepicker]="dataConversao" name="dataConversao" ngModel #dataConversaoValid="ngModel" [(ngModel)]="discipulando.dataConversao" required>
                  <nb-datepicker  #dataConversao></nb-datepicker>
                  <app-message [control]="dataConversaoValid" error="required" text="Informe a data de conversão" ></app-message>
                </div>
                <div class="col-md-6">
                  <label for="nomePregadoConversao" class="label">Nome do Pregador</label>
                  <input type="text" nbInput fullWidth name="nomePregadoConversao" [(ngModel)]="discipulando.nomePregadoConversao" >
                </div>
              </div>

              <div class="row show-grid">
                <div class="col-md-6">
                  <label for="localConversao" class="label">Local de Conversão *</label>
                  <nb-select fullWidth name="localConversao" ngModel #localConversao="ngModel" [(selected)]="discipulando.localConversao.codigo"  placeholder="Selecione" [(ngModel)]="discipulando.localConversao.codigo" required >
                    <nb-option  *ngFor="let local of locaisConversao" [value]="local.value"> {{ local.name }}</nb-option>
                  </nb-select>
                  <app-message [control]="localConversao" error="required" text="Selecione um Local de Conversão." ></app-message>
                </div>
                <div class="col-md-6">
                  <label for="eventoConversao" class="label">Evento Conversão *</label>
                  <nb-select fullWidth name="eventoConversao" ngModel #eventoConversao="ngModel" [selected]="discipulando.eventoConversao.codigo"  placeholder="Selecione" [(ngModel)]="discipulando.eventoConversao.codigo" required >
                    <nb-option  *ngFor="let evento of eventos" [value]="evento.value"> {{ evento.name }}</nb-option>
                  </nb-select>
                  <app-message [control]="eventoConversao" error="required" text="Selecione um Evento." ></app-message>
                </div>
              </div>

              <div class="row show-grid">
                <div class="col-md-6">
                  <label for="dataBatismo" class="label">Data de Batismo</label>
                  <input nbInput placeholder="Data Inicial" fullWidth [nbDatepicker]="dataBatismo" name="dataBatismo" [(ngModel)]="discipulando.dataBatismo">
                  <nb-datepicker  #dataBatismo></nb-datepicker>
                </div>
                <div class="col-md-6">
                  <label class="label">Local do Batismo</label>
                  <label class="label">teste</label>
                </div>
              </div>

              <div class="row show-grid">
                <div class="col-md-6">
                  <label for="dataInicioPeriodoDiscipulado" class="label">Inicio do Discipulado</label>
                  <input nbInput placeholder="Data Inicial" fullWidth [nbDatepicker]="dataInicioPeriodoDiscipulado" name="dataInicioPeriodoDiscipulado" [(ngModel)]="discipulando.dataInicioPeriodoDiscipulado">
                  <nb-datepicker  #dataInicioPeriodoDiscipulado></nb-datepicker>
                </div>
                <div class="col-md-6">
                  <label for="dataFimPeriodoDiscipulado" class="label">Fim do Discipulado</label>
                  <input nbInput placeholder="Data Final" fullWidth [nbDatepicker]="dataFimPeriodoDiscipulado" name="dataFimPeriodoDiscipulado" [(ngModel)]="discipulando.dataFimPeriodoDiscipulado">
                  <nb-datepicker  #dataFimPeriodoDiscipulado></nb-datepicker>
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header><h6>Dados Espirituais</h6></nb-card-header>
            <nb-card-body>
              <div class="row show-grid">
                <div class="col-md-6">
                  <label for="retornandoJesus" class="label">Retornando para Jesus?</label>
                  <nb-radio-group class="validation-radios" #retornandoJesus name="retornandoJesus" [(value)]="discipulando.retornandoJesus">
                    <nb-radio value="S">Sim</nb-radio>
                    <nb-radio value="N">Não</nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-md-6">
                  <label for="pertenceuIgreja" class="label">Ja Pertenceu a alguma igreja?</label>
                  <nb-radio-group class="validation-radios" #pertenceuIgreja name="pertenceuIgreja" [(value)]="discipulando.pertenceuIgreja">
                    <nb-radio value="S">Sim</nb-radio>
                    <nb-radio value="N">Não</nb-radio>
                  </nb-radio-group>
                </div>
              </div>

              <div class="row show-grid">
                <div class="col-md-12">
                  <label for="nmIgrejaNovoDecidido" class="label">Nome Igreja</label>
                  <input type="text" nbInput fullWidth name="nmIgrejaNovoDecidido" [(ngModel)]="discipulando.nmIgrejaNovoDecidido">
                </div>
              </div>

              <div class="row show-grid">
                <div class="col-md-6">
                  <label for="batizado" class="label">Ja foi batizado?</label>
                  <nb-radio-group class="validation-radios" #batizado name="batizado" [(value)]="discipulando.batizado">
                    <nb-radio value="S">Sim</nb-radio>
                    <nb-radio value="N">Não</nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-md-6">
                  <label for="batizadoImersao" class="label">Batizado por Imersão?</label>
                  <nb-radio-group class="validation-radios" name="batizadoImersao" [(value)]="discipulando.batizadoImersao">
                    <nb-radio value="S">Sim</nb-radio>
                    <nb-radio checked="{{batizado.value == 'N' ? true : false}}" value="N">Não</nb-radio>
                  </nb-radio-group>
                </div>
              </div>
            </nb-card-body>
          </nb-card>


          <div class="form-group">
            <button nbButton type="submit" status="primary" [disabled]="f.invalid">Salvar</button>
            <button nbButton type="button" status="primary" (click)="novo(f)" >Novo</button>
            <a routerLink="/pages/discipulandos" >Voltar para a pesquisa</a>
          </div>

        </form>
    </div>
</div>
