[nbButton] {
  margin-right: 0.35rem;
  margin-bottom: 1rem;
}

/*--motivo--*/
.col-codigo-motivo {
  width: 25px;
  text-align: center;
}

.col-codigo-motivo-header {
  width: 25px;
}

.col-nome-motivo {
  width: 80px;
  text-align: left;
}

.col-nome-motivo-header {
  width: 80px;
}

.col-acoes-motivo {
  width: 35px;
  text-align: center;
}

.col-acoes-motivo-header {
  width: 35px;
}

.col-igreja-motivo-header {
  width: 140px;
}

.col-igreja-motivo {
  width: 140px;
  text-align: left;
}

.col-ativo-motivo {
  width: 50px;
  text-align: center;
}

.col-ativo-motivo-header {
  width: 50px;
}

/*----*/
