[nbButton] {
  margin-right: 0.35rem;
  margin-bottom: 1rem;
}


/*--Conteudo Adicional--*/
.col-codigo-conteudo-adicional {
  width: 25px;
  text-align: center;
}

.col-codigo-conteudo-adicional-header {
  width: 25px;
}

.col-nome-conteudo-adicional {
  width: 80px;
  text-align: left;
}

.col-nome-conteudo-adicional-header {
  width: 80px;
}

.col-acoes-conteudo-adicional {
  width: 35px;
  text-align: center;
}

.col-acoes-conteudo-adicional-header {
  width: 35px;
}

.col-igreja-conteudo-adicional-header {
  width: 140px;
}

.col-igreja-conteudo-adicional {
  width: 140px;
  text-align: left;
}

.col-ativo-conteudo-adicional {
  width: 50px;
  text-align: center;
}

.col-ativo-conteudo-adicional-header {
  width: 50px;
}

/*----*/
