<div class="row">
  <div class="col-lg-12">
      <nb-card>
          <nb-card-header><h4>Pesquisa de Visitas</h4></nb-card-header>
          <nb-card-body>
            <form autocomplete="off" (ngSubmit)="pesquisar()">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label">Igreja</label>
                <div>
                <nb-select fullWidth name="codigoIgreja" [selected]="filtro.codigoIgreja" [(ngModel)]="filtro.codigoIgreja" (selectedChange)="atualizarMotivos()">
                  <nb-option  *ngFor="let igreja of igrejas" [value]="igreja.value"> {{ igreja.name }}</nb-option>
                </nb-select>
              </div>
              </div>

              <div class="form-group">
                <label for="nome" class="label">Nome</label>
                <input type="text" nbInput fullWidth id="nome" name="nome" placeholder="Nome" [(ngModel)]="filtro.nome">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1" class="label">Motivos</label>
                <div>
                  <nb-select fullWidth name="codigoMotivo" [selected]="filtro.codigoMotivo" [(ngModel)]="filtro.codigoMotivo">
                    <nb-option  *ngFor="let motivo of motivos" [value]="motivo.value"> {{ motivo.name }}</nb-option>
                  </nb-select>
                </div>
              </div>

              <div class="form-group">
                <label for="dataVisitaDe" class="label">Período Visitas</label>
                <div class="full-name-inputs">
                    <input nbInput placeholder="Data Inicial" fullWidth [nbDatepicker]="dataVisitaDe" name="dataVisitaDe" [(ngModel)]="filtro.dataVisitaDe">
                    <nb-datepicker format="dd.MM.yyyy" #dataVisitaDe></nb-datepicker>
                    <label></label>
                    <input nbInput placeholder="Data Final" fullWidth [nbDatepicker]="dataVisitaAte" name="dataVisitaAte" [(ngModel)]="filtro.dataVisitaAte">
                    <nb-datepicker format="dd.MM.yyyy" #dataVisitaAte></nb-datepicker>
                </div>
              </div>

              <button type="submit" nbButton status="primary">Pesquisar</button>
            </form>
          </nb-card-body>
        </nb-card>

       <nb-card>
          <nb-card-header>
          </nb-card-header>

          <nb-card-body>
              <p-table [value]="visitas" [paginator]="true" [rows]="5" [responsive]="true"
              [paginator]="true" [rows]="filtro.itensPorPagina"
              [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela >

              <ng-template pTemplate="header" >
                <tr>
                  <th class="col-codigo-motivo-header">Codigo</th>
                  <th class="col-nome-motivo-header">Nome</th>
                  <th class="col-nome-motivo-header">Data/Hora</th>
                  <th class="col-igreja-motivo-header">Igreja</th>
                  <th class="col-ativo-motivo-header">Motivo</th>
                  <th class="col-acoes-motivo-header"></th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-visi >
                <tr>
                    <td class="col-codigo-motivo">{{ visi.codigo }}</td>
                    <td class="col-nome-motivo">{{ visi.nome }}</td>
                    <td class="col-nome-motivo">{{ visi.dataVisita | date :'dd-MM-yyyy HH:mm:ss' }}</td>
                    <td class="col-igreja-motivo">{{ visi.siglaIgreja }}</td>
                    <td class="col-ativo-motivo">{{ visi.nomeMotivo }}</td>
                    <td class="col-acoes-evento">

                      <button nbButton status="primary" size="tiny" appearance="hero" pTooltip="Detalhamento" tooltipPosition="top" [routerLink]="['/pages/visitas/info', visi.codigo]" ><nb-icon icon="info-outline"></nb-icon></button>
                      <button nbButton status="primary" size="tiny" appearance="hero" pTooltip="Editar" tooltipPosition="top" *ngIf="!getHabilitarClick()" [routerLink]="['/pages/visitas', visi.codigo]"  [ngStyle]="{'cursor': 'not-allowed', 'opacity': '.45'}"><nb-icon icon="edit-outline"></nb-icon></button>
                      <button nbButton status="primary" size="tiny" appearance="hero" pTooltip="Editar" tooltipPosition="top" *ngIf="getHabilitarClick()" [routerLink]="['/pages/visitas', visi.codigo]" [disabled]="!auth.temPermissao('ROLE_CADASTRAR_VISITA')"><nb-icon icon="edit-outline"></nb-icon></button>
                      <button nbButton status="primary" size="tiny" appearance="hero" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(visi)" [disabled]="!auth.temPermissao('ROLE_REMOVER_VISITA')" ><nb-icon icon="trash-outline"></nb-icon></button>
                    </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptyMessage">
                <tr>
                  <td colspan="3">
                    Nenhuma visita encontrada
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </nb-card-body>

          <div class="col-lg-12">
            <button status="primary" routerLink="/pages/visitas/novo" nbButton [disabled]="!auth.temPermissao('ROLE_CADASTRAR_VISITA')" >Nova Visita</button>
          </div>

        </nb-card>


    </div>
</div>
