[nbButton] {
  margin-right: 0.35rem;
  margin-bottom: 1rem;
}

/*--motivo--*/
.col-codigo-situacao {
  width: 25px;
  text-align: center;
}

.col-codigo-situacao-header {
  width: 25px;
}

.col-descricao-situacao {
  width: 80px;
  text-align: left;
}

.col-descricao-situacao-header {
  width: 80px;
}

.col-acoes-situacao {
  width: 35px;
  text-align: center;
}

.col-acoes-situacao-header {
  width: 35px;
}

.col-igreja-situacao-header {
  width: 140px;
}

.col-igreja-situacao {
  width: 140px;
  text-align: left;
}

.col-ativo-situacao {
  width: 50px;
  text-align: center;
}

.col-ativo-situacao-header {
  width: 50px;
}

/*----*/
