@import '../../@theme/styles/themes';

@include nb-install-component() {
  grafico-pizza-locais-conversoes-discipulandos-por-mes,
  grafico-linha-conversoes-discipulandos-por-mes,
  grafico-linha-conversoes-discipulandos-comparativo-por-ano,
  grafico-pizza-locais-conversoes-discipulandos-por-ano,
  grafico-pizza-discipuladores-por-cargo {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
