<div class="row">
  <div class="col-lg-12" *ngIf="auth.temPermissao('ROLE_CADASTRAR_DISCIPULANDO')">
    <nb-card>
      <nb-card-header>
          <nb-icon icon="person-outline" pack="eva" class="flip-icon" (click)="paginaNovoConvertido()" ></nb-icon>
          <a routerLink="/pages/discipulandos/novo" (click)="paginaNovoConvertido()" >Cadastro de Novo Convertido</a>
        </nb-card-header>
    </nb-card>
  </div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Locais de Conversões no Mês de {{ getMesReferencia() }}</nb-card-header>
      <nb-card-body>
          <grafico-pizza-locais-conversoes-discipulandos-por-mes></grafico-pizza-locais-conversoes-discipulandos-por-mes>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Conversões de Discipulandos no Mês de {{ getMesReferencia() }}</nb-card-header>
      <nb-card-body>
          <grafico-linha-conversoes-discipulandos-por-mes></grafico-linha-conversoes-discipulandos-por-mes>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Conversões de Discipulandos nos Anos de {{ (getAnoReferencia() - 1) }} e  {{ getAnoReferencia() }}</nb-card-header>
      <nb-card-body>
          <grafico-linha-conversoes-discipulandos-comparativo-por-ano></grafico-linha-conversoes-discipulandos-comparativo-por-ano>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Locais de Conversões no Ano de {{ getAnoReferencia() }}</nb-card-header>
      <nb-card-body>
          <grafico-pizza-locais-conversoes-discipulandos-por-ano></grafico-pizza-locais-conversoes-discipulandos-por-ano>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Discipuladores por Cargo</nb-card-header>
      <nb-card-body>
          <grafico-pizza-discipuladores-por-cargo></grafico-pizza-discipuladores-por-cargo>
      </nb-card-body>
    </nb-card>
  </div>

</div>
