[nbButton] {
  margin-right: 0.35rem;
  margin-bottom: 1rem;
}

/*--Local--*/
.col-codigo-local {
  width: 25px;
  text-align: center;
}

.col-codigo-local-header {
  width: 25px;
}

.col-nome-local {
  width: 80px;
  text-align: left;
}

.col-nome-local-header {
  width: 80px;
}

.col-igreja-local-header {
  width: 140px;
}

.col-igreja-local {
  width: 140px;
  text-align: left;
}

.col-tipo-local {
  width: 60px;
  text-align: center;
}

.col-tipo-local-header {
  width: 60px;
  text-align: center;
}

.col-acoes-local {
  width: 35px;
  text-align: center;
}

.col-acoes-local-header {
  width: 35px;
  text-align: center;
}

.col-ativo-local {
  width: 50px;
  text-align: center;
}

.col-ativo-local-header {
  width: 50px;
}
/*----*/
